body {
	/* background-color: rgba(0, 0, 0, 0.2); */
	background-color: #DCE1E3;
}
  
button {
	/* background-color: rgba(0, 127, 194, 1); */
	background-color: #004E7C;
	color: white;
}
  
input {
	outline: none;
}

.container {
	display: block;
	text-align: center;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	/* background-color:; */
}