body {
	/* background-color: rgba(0, 0, 0, 0.2); */
	background-color: #DCE1E3;
}
  
input {
	outline: none;
}

.container {
	display: block;
	text-align: center;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	/* background-color:; */
}

input[type=button],
button[type=submit] {
  background-color: #004E7C;
  border: none;
  color: #fff;
  padding: 4px 7px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

button[type=submit]:hover {
	background-color: #002d47;
}

/*
	todo: add borders to input boxes on active
*/