@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
/*

//////////////////// GENERALS ////////////////////

*/

* {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: white;
}

.container {
  background: url('https://images.pexels.com/photos/428429/pexels-photo-428429.jpeg?cs=srgb&dl=pexels-spencer-selover-428429.jpg&fm=jpg')
    no-repeat center center/cover;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: column;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    '. My-Projects My-Projects .'
    'Project-1 Project-2 Project-3 Project-4'
    '. . . .';
}

.Project-1 {
  grid-area: Project-1;
}

.Project-2 {
  grid-area: Project-2;
}

.Project-3 {
  grid-area: Project-3;
}

.My-Projects {
  grid-area: My-Projects;
}

.Project-4 {
  grid-area: Project-4;
}

button {
  background-color: #373b69;
  border: none;
  padding: 1rem;
  margin: 1rem;
}

a {
  background-color: #373b69;
  text-decoration: none;
  color: white;
}

a:hover {
  color: gray;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-family: 'Oswald' sans-serif;
  color: #a7a4a4;
}
