@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
/*

//////////////////// GENERALS ////////////////////

*/

html,body {
	font-family: 'Noto Sans', sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

header h1 {
	text-align: center;
	margin: 0;
}

main {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background: url("https://images.pexels.com/photos/428429/pexels-photo-428429.jpeg?cs=srgb&dl=pexels-spencer-selover-428429.jpg&fm=jpg")
	no-repeat center center/cover;
	width: calc(100vw);
	height: calc(100vh);
	z-index: -1;
	filter: blur(0px);
}

main button {
	background-color: #373b69;
	border: none;
	padding: 1rem;
	margin: 1rem;
}

main a {
	background-color: #373b69;
	text-decoration: none;
	color: white;
}

main a:hover {
	color: gray;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	font-family: 'Oswald' sans-serif;
	color: #a7a4a4;
}

.break {
	flex-basis: 100%;
	height: 0;
  }